include README.md
include string_distance/cost.pxd
include string_distance/edit_distance.c
include string_distance/minimum_edit_distance.c
include string_distance/minimum_edit_distance.pxd
include string_distance/maximum_edit_distance.c
include string_distance/maximum_edit_distance.pxd
include string_distance/float_cost.pxd
include string_distance/float_edit_distance.c
include string_distance/float_minimum_edit_distance.c
include string_distance/float_minimum_edit_distance.pxd
include string_distance/sequence_distance.c
include string_distance/sequence_distance.pxd
include string_distance/token_distance.c
